# USAGE
# $ source ./env.sh

export GOOGLE_USER=""
export GOOGLE_PASSWORD=""
export GOOGLE_GROUP_URL=""

export DISCOURSE_ADDRESS=""
export DISCOURSE_API_KEY=""
export DISCOURSE_API_USER=""
export DISCOURSE_CATEGORY=""

env | grep -e GOOGLE_PASSWORD -e GOOGLE_USER -e GOOGLE_GROUP_URL -e DISCOURSE_ADDRESS -e DISCOURSE_API_KEY -e DISCOURSE_API_USER -e DISCOURSE_CATEGORY